@model SimpleBlackBoard.Models.Student
@{
    ViewBag.Title = "Register";
}
<html>
<body>
<h2>Register</h2>

@Html.ValidationSummary()

    @using (@Html.BeginForm("StudentRegister", "Register", FormMethod.Post))
    {
        <h1>Student Signup</h1>
        <div class="student-editor">
            @Html.EditorForModel()
            <br />

            <input type="submit" value="Submit" />

            @if (@ViewBag.Error != "" && @ViewBag.Error != null)
            {
                <br />

                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> @ViewBag.Error
                </div>
            }
            <br />

            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                <a href="LecturerRegister">
                    Are you a Lecturer?
                </a>
                <br /><br />
                <a href="/">
                    Log in
                </a>
            </div>
        </div>
    }

</body>
</html>
