
@{
    ViewBag.Title = "Student";
}

<div class="row LoginHeader text-center">
    
    <h2>Student Dashboard</h2>
</div>
   
<div class="row" style="margin-top:25px">
   
    <div class="col-xs-6">
        @if (@ViewBag.Uploaded)
        {
            <button type="button" class="btn btn-primary disabled" disabled>Upload</button>          
            <div class="col-xs-12"><span class="help-inline text-center" style="color:red">Already uploaded</span></div>
        }
        else
        {
            <a href="~/Dashboard/Upload" class="btn btn-primary" role="button" aria-pressed="true">Upload</a>
        }
    </div>
    <div class="col-xs-6">
        @if (@ViewBag.Evaluated)
        {
            <a href="~/Dashboard/View" class="btn btn-primary" role="button" aria-pressed="true">View assignment</a>
        }
        else
        {
            <button type="button" class="btn btn-primary disabled">View assignment</button>
            <br />
            <div class="col-xs-12"><span class="help-inline text-center" style="color:red">Not Evaluated</span></div>
            
        }
    </div>
    <br /> <br />
    <br /> <br />
    <br /> <br />

    @if (@ViewBag.Message != null && @ViewBag.Message != "")
            {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> @ViewBag.Message
        </div>
    }

    @if (@ViewBag.Error != "" && @ViewBag.Error != null)
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }

</div>
    

    