@model SimpleBlackBoard.Models.Assignment
@{
    ViewBag.Title = "Grade";
}

<h2>Grade</h2>

<div class="assignment-display">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe style="border: 2px solid #111111;" class="embed-responsive-item" src="~/Assignments/@String.Format("{0}.html", @ViewBag.Student_ID)"></iframe>
    </div>

    <br />
    <hr />
    <br />

    @using (@Html.BeginForm("Grade", "Grade", new { id = @ViewBag.Id }, FormMethod.Post))
    {
        @Html.LabelFor(model => @Model.Student_ID)  <h6>@ViewBag.Student_ID</h6>

        @Html.LabelFor(model => model.Grade)
        <br />
        @Html.RadioButtonFor(model => @Model.Grade, 1) <p style="display:inline">  1  </p>
        @Html.RadioButtonFor(model => @Model.Grade, 2) <p style="display:inline">  2  </p>
        @Html.RadioButtonFor(model => @Model.Grade, 3) <p style="display:inline">  3  </p>
        @Html.RadioButtonFor(model => @Model.Grade, 4) <p style="display:inline">  4  </p>
        @Html.RadioButtonFor(model => @Model.Grade, 5) <p style="display:inline">  5  </p>
        <br />
        @Html.LabelFor(model => model.Feedback)
        <br />
        @Html.EditorFor(model => model.Feedback, new { @class = "", @cols = 200, @rows = 30 })
        <br />

        <br />
        <input type="submit" value="Grade" />
    }
</div>